{% extends 'base.html' %}
{% load static %}
{% block title %}
 sent mail
{% endblock %}


{% block content %}
<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">We sent a mail to you</h3>
		<div class="card-text text-center">
			<!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
		    Please check your E-mail
		</div>
	</div>
</div>
</div>

{% endblock %}